body {
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: "Roboto";
    src: url("/font/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/font/Roboto-Bold.ttf");
    font-weight: bold;
}

.btn-orange {
    background: #F77D24;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-orange:hover {
    background: #FFA07A;
}

input[type="text"], input[type="password"], textarea {
    background-color: #fff;
    border-width: 1px;
    border-color: #F77D24;
    border-radius: 5px;
    font-size: medium;
    color: black;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table1 {
    overflow: auto; height: 100px;
  
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  }
  
  .table1 thead th { position: sticky; top: 0; z-index: 1; }
  
  .table1 td, .table1 th {
    border: 1px solid #ddd;
    padding: 4px;
  }
  
  .table1 tr:nth-child(even){
    background-color: #f2f2f2;
  }
  
  .table1 tr:hover {
    background-color: #ddd;
  }
  
  .table1 th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #FF0000;
    color: white;
  }

  #progressBackground {
    width: 100%;
    background-color: #ddd;
  }
  
  #progressBar {
    width: 1%;
    height: 30px;
    background-color: #04AA6D;
  }