body {
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: "Roboto";
    src: url("/font/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/font/Roboto-Bold.ttf");
    font-weight: bold;
}
  
h1 {
    font-size: 20px;
}
.error_text {
    background-color: lightcoral;
}

button, input[type="button"], input[type="submit"] {
    background-color: #008CBA;
    border: black;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}