body {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: url("/font/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/font/Roboto-Bold.ttf");
  font-weight: bold;
}

.btn-orange {
    background: #F77D24;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

.btn-orange:hover {
    background: #FFA07A;
}

input[type="text"], input[type="password"], textarea {
  background-color: #fff;
  border-width: 1px;
  border-color: #F77D24;
  border-radius: 5px;
  font-size: medium;
  color: black;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

}








/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}