<!DOCTYPE html>
<html>
<head>
    <title>SBI-Iot-Server</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="css/content.css">
</head>
<body>
    <div id="app">
        <button id="idStartPairing" @click="idStartPairing_Click">{{ livedata.state.is_pairing ? "Stop Pairing (esp-now)" : "Start Pairing (esp-now)" }}</button>

        <div>
            <span>wireless: rx: {{ livedata.wireless.rx }} / tx: {{ livedata.wireless.tx }}</span><br>
            <span>stove, online: {{ livedata.stove.is_connected }}</span><br>
            <span>remote, current: {{ livedata.remote.tempC_current.toFixed(2) }} C, set point: {{ livedata.remote.tempC_sp.toFixed(2) }} C, fan: {{ livedata.remote.fanspeed }} C, lastcomm (s): {{ (livedata.remote.lastcomm_ms/1000).toFixed(2) }}</span><br>
            <span>datetime: {{ livedata.datetime }}</span>
        </div>
        <br>
        <h1>System Informations</h1>
        <table class="table1">
            <thead>
                <th>Name</th>
                <th>Value</th>
            </thead>
            <tbody>
                <tr v-if="sysinfos" v-for="item in sysinfos">
                    <td>{{ item.name }}</td>
                    <td style="overflow-wrap: anywhere;">{{ item.value }}</td>
                </tr>
                <tr v-if="!sysinfos">
                    <td>Information is not yet loaded</td>
                </tr>
            </tbody>
        </table>
        <br>
        <h1>Stove Parameters</h1>
        <div class="content">
            <!-- Config file -->
            <table>
                <thead>
                    <tr>
                        <th>
                            Config file (count: {{ livedata.stove.param_cnt }}, is_param_upload_error: {{ livedata.stove.is_param_upload_error }}, is_param_download_error: {{ livedata.stove.is_param_download_error }})<br>
                            <button id="idForceDownloadConfig" @click="idForceDownloadConfig_Click">Force download config</button>
                            <button id="idLoadConfig" @click="idLoadConfig_OnClick($event)">Load</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <textarea id="idConfigFileText" rows="40" cols="100" :class="{ error_text: livedata.stove.is_param_download_error | livedata.stove.is_param_upload_error }" v-model="configJSON"></textarea>
                            <br>
                            <button id="idSaveConfig" @click="idSaveConfig_OnClick($event)">Save</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>