<!DOCTYPE html>
<html>
<head>
    <title>SBI-Iot-Server</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="css/mnt-content.css">
</head>
<body>
    <div id="app">
        <div>
            <span><a href="mnt-ota.html">ESP32 OTA</a></span><br>
            <span>wireless: rx: {{ livedata.wireless.rx }} / tx: {{ livedata.wireless.tx }}</span><br>
            <span>stove, online: {{ livedata.stove.is_connected }}</span><br>
            <span>remote, current: {{ livedata.remote.tempC_current.toFixed(2) }} C, set point: {{ livedata.remote.tempC_sp.toFixed(2) }} C, fan: {{ livedata.remote.fanspeed }} C, lastcomm (s): {{ (livedata.remote.lastcomm_ms/1000).toFixed(2) }}</span><br>
            <span>datetime: {{ livedata.datetime }}</span><br>
        </div>
        <br>
        <h1>Debug infos</h1>
        <table class="table1">
            <thead>
                <th>Name</th>
                <th>Value</th>
            </thead>
            <tbody>
                <tr v-if="debug_string_table" v-for="item in debug_string_table">
                    <td>{{ item.name }}</td>
                    <td style="overflow-wrap: anywhere;">{{ item.value }}</td>
                </tr>
                <tr v-if="!debug_string_table">
                    <td colspan="2">Information is not yet loaded</td>
                </tr>
            </tbody>
        </table>
        <br>
        <h1>System Informations</h1>
        <table class="table1">
            <thead>
                <th>Name</th>
                <th>Value</th>
            </thead>
            <tbody>
                <tr v-if="sysinfos" v-for="item in sysinfos">
                    <td>{{ item.name }}</td>
                    <td style="overflow-wrap: anywhere;">{{ item.value }}</td>
                </tr>
                <tr v-if="!sysinfos">
                    <td colspan="2">Information is not yet loaded</td>
                </tr>
            </tbody>
        </table>
        <br>
        <h1>Stove Parameters</h1>
        <div class="content">
            <!-- Config file -->
            <span>
                Config file (count: {{ livedata.stove.param_cnt }}, is_param_upload_error: {{ livedata.stove.is_param_upload_error }}, is_param_download_error: {{ livedata.stove.is_param_download_error }})<br><br>
                <button id="idForceDownloadConfig" @click="idForceDownloadConfig_Click">Force download config</button>
                <button id="idLoadConfig" @click="idLoadConfig_OnClick($event)">Load</button>
            </span>

            <label>
                String mode
                <input type="checkbox" v-model="isStringMode">String mode</input>
            </label><br>

            <!-- Table mode config -->
            <div v-show="!isStringMode">

                <table class="table1">
                    <thead>
                        <th>Key</th>
                        <th>Min</th>
                        <th>Default</th>
                        <th>Value</th>
                        <th>Max</th>
                        <th>Desc</th>
                        <th><button id="idSaveConfig" @click="idSaveConfig_OnClick($event, 1)">Save (table)</button></th>
                    </thead>
                    <tbody>
                        <tr v-if="configJSONObj"
                            :class="{ error_text: livedata.stove.is_param_download_error | livedata.stove.is_param_upload_error }"
                            v-for="item in configJSONObj?.entries">
                            <td>{{ item.key }}</td>
                            <td>{{ item.min }}</td>
                            <td>{{ item.def }}</td>
                            <td><input type="number" :min="item.min" :max="item.max"
                                :value="item.value"
                                @input="(event) => item.value = parseInt(event.target.value)"></td>
                                <td>{{ item.max }}</td>
                            <td colspan="2">{{ (item.flag_isvolatile ? "Volatile" : "") }}</td>
                        </tr>
                        <tr v-if="!configJSONObj">
                            <td colspan="7">Parameter are not yet downloaded</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- String mode config -->
            <div v-show="isStringMode">
                <textarea id="idConfigFileText" rows="40" cols="100" :class="{ error_text: livedata.stove.is_param_download_error | livedata.stove.is_param_upload_error }"
                    v-model="configJSON"></textarea>
                <br>
                <button id="idSaveConfig" @click="idSaveConfig_OnClick($event, 0)">Save (string)</button>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/api-def.js"></script>
    <script type="text/javascript" src="js/mnt-app.js"></script>
</body>
</html>